.courseBannerContainer {
  min-height: 300px;
  height: 300px;
  width: 100%;
  color: #fff;
  position: relative;
}

.course-gradient-background {
  background: linear-gradient(324.97deg, rgb(0, 153, 145) 0%, rgb(0, 102, 97) 100%);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 62%;
  height: 100%;
  transform-origin: 100% -100%;
  transform: skewX(-15deg);
}

/* .course-background-image {
  background-image: url('https://images.unsplash.com/photo-1468390090990-afe21a9448f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1335&q=80');
  opacity: 1;
  background-color: transparent;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 49%;
    z-index: 1;
} */

.course-banner-content {
  position: relative;
  z-index: 3;
  color: white;
}

.course-banner-content h1 {
  font-size: 50px;
}

.bread-crumb {
  color: white;
}

.book-session {
  margin-top: 20px;
  margin-left: 30%;
}

.date-picker-course {
  width: 200px !important;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  
}

.ui.secondary.pointing.menu a {
  font-size: 18px;
}

.tab-about {
  width: 55%;
  margin-left: 5%;
}

.tab-about-content {
  font-size: 16px;
  line-height: 1.7;
}

.tab-mentor {
  width: 30%;
}

.course-stats {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.stat-icon {
  font-size: 25px !important;
  color: rgb(168, 167, 167);
}

.users-icon {
  margin-right: 10px !important;
}

.stat-heading {
  margin-top: -10px;
  color: grey;
}

.mentor-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mentor-about span {
  margin-left: 10px;
  font-size: 18px;
  position: relative;
}

.mentor-bio {
  margin-top: 10px;
}

.mentor-contact-box {
  position: relative;
  margin-top: 15px;
}


.mentor-contact-btn {
  position: absolute;
  top: -300%;
  left: 40%; 
  width: 100px;
}

.mentor-contact-btn button {
  width: 100%;
}

.review-container {
  display: inline-block;
}

.review-container p {
  display: block;
}

.reviewer-image {
  height: 50px;
  width: 50px;
  
  border: solid;
}

.reviewer-image img {
  height: 100%;
}

.mapouter {
  width: 50%;

}

#gmap_canvas {
  width: 100%;
  height: 30vh;
}

.contact-message-container {
  display: flex !important;
}

.contact-message-container textarea {
  width: 100%;
}

.contact-user-image {
  height: 150px !important;
  width: 150px !important;
}

.message-form {
  margin-left: 10%;
  margin-top: 10px;
  width: 400px !important;
}

.message-input {
  width: 100% !important;
}




