


/* 
const linkPadding = {
  margin: '0',
  padding: '0'
}  */ 


.explore-grid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.categories-grid {
  margin-left: auto;
  margin-right: auto;
}




.explore-container {
  background-color: #f5f5f5;
}

.explore-container h2 {
  margin-bottom: 20px;
  color: #4a4a4a;
  font-weight: 400;
}

.explore-categories {
  margin-left: auto;
  margin-right: auto;
}

/* .wrapper {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  color: #444;
  height: 300px;
} */

.box {
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  font-size: 25px;
  font-weight: bold;
}

.dancing-link {
  grid-column: 1;
  grid-row: 1 / 3;
}

.a {
  grid-column: 1;
  grid-row: 1 / 3;
  background: linear-gradient(rgba(100, 99, 99, 0.4), rgba(100, 99, 99, 0.4)), url("https://skill-hub-images.s3.amazonaws.com/explore/dancing-explore.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.b {
  grid-column: 2 ;
  grid-row: 1;
  background: linear-gradient(rgba(100, 99, 99, 0.4), rgba(100, 99, 99, 0.4)), url("https://skill-hub-images.s3.amazonaws.com/explore/language-explore.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.c {
  grid-column: 2 ;
  grid-row: 2 ;
  background: linear-gradient(rgba(100, 99, 99, 0.4), rgba(100, 99, 99, 0.4)), url("https://images.unsplash.com/photo-1505798577917-a65157d3320a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.d {
  background: linear-gradient(rgba(100, 99, 99, 0.4), rgba(100, 99, 99, 0.4)), url("https://skill-hub-images.s3.amazonaws.com/explore/musical-explore.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-column: 3;
  grid-row: 1;
  height: 100%
}
  
.e {
  background: linear-gradient(rgba(100, 99, 99, 0.4), rgba(100, 99, 99, 0.4)), url("https://images.unsplash.com/photo-1441471349424-351990746ff4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-column: 3;
  grid-row: 2;
  height: 100%;
}

/* .space2 {
  height: 100px;
} */

.allCategoriesContainer {
  margin-left: auto;
  margin-right: auto;
}

.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
}

.slick-prev:before, .slick-next:before {
  font-size: 50px;
  color: rgb(63, 62, 62);
}

 .slick-prev {
  z-index: 100;
  left: -4% !important
}

.slick-next {
  z-index: 100;
  right: -4%;
}

/***************************************************************
 MEDIA QUERIES
***************************************************************/


/* Extra small devices (phones, 600px and down) */

@media (max-width: 599px) {
  .wrapper {
    display: flex;
    flex-direction: column; 
    background-color: #fff;
    color: #444;
    height: 300px;
  }

  .explore-link {
    margin-bottom: 10px;
  }

  .categories-main-container {
    margin-top: 90% !important;
  }

  .categories-grid {
   
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media (min-width: 600px) {

  .wrapper {
    display: flex;
    flex-direction: column; 
  }

  .categories-main-container {
    margin-top: 10% !important;
  }

}

/* Medium devices (landscape tablets, 768px and up) */

@media (min-width: 768px) {
  
  .wrapper {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fff;
    color: #444;
    height: 300px;
  }

  .categories-main-container {
    margin-top: 5% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media (min-width: 1200px) {
 
}


