

.jumbo-container {
  background: linear-gradient(rgba(100, 99, 99, 0.5), rgba(100, 99, 99, 0.5)), url(" https://images.unsplash.com/photo-1526289840431-61c8601ec21f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 100%;
  height: 82vh;
  position: relative;
  text-shadow: 0 2px 4px rgba(41,48,59,0.55);

}

.jumbo-catchphase {
  height: auto;
  width: 40%;
  position: absolute;
  top: 18%;
  left: 10%;
  color: white;
}

.jumbo-catchphase h1 {
  font-size: 3em;
}

.get-started-container {
  margin-top: 40px;
}

.get-started-btn {
  font-size: 1.8em !important;
}

/**************************************************************** 
  HOWSKILLHUBWORKS
*****************************************************************/


.howSkillHubWorks-container {
  padding-top: 30px;
  background-image: linear-gradient(to right top, #103d70, #00b5ad);
  padding-bottom: 20px;
  text-align: center;
}

.howSkillHubWorks-inner {
  display: flex;
  justify-content: space-around;
}

.howSkillHubIcon .howIcon {
  font-size: 45px;
  color: white;
}

.howSkillAbout {
  color: white;
 
  font-size: 17px;
}



/***************************************************************
 MEDIA QUERIES
***************************************************************/


/* Extra small devices (phones, 600px and down) */

@media (max-width: 600px) {
  .jumbo-container {
    height: 400px;
    background-position: 0%;
  }

  .jumbo-catchphase h1 {
    font-size: 2em;
    line-height: 1.4em
  }

  .jumbo-catchphase h2 {
    font-size: 1.5em;
    line-height: 1.4em
  }

  .jumbo-catchphase {
    width: 70%;
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
  }

  .get-started-btn {
    font-size: 1.25em !important;
  }

  .howSkillHubWorks-inner {
    display: flex;
    flex-direction: column;
  }

  .howSkillHubWorks-col {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .howSkillHubIcon .howIcon {
    font-size: 35px;
    color: white;
    
  }

  .howSkillAbout {
    color: white;
    /* margin-left: 5%; */
    font-size: 16px;
    margin-bottom: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media (min-width: 600px) {

  .jumbo-catchphase {
    width: 60%;
  }

  .howSkillHubWorks-container {
    padding-top: 40px;
    padding-bottom: 20px;
  }
   
  .howSkillHubIcon .howIcon {
    font-size: 38px;
  }
  
  .howSkillAbout {
    font-size: 16px;
    width: 90%;
    margin: 0px auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media (min-width: 768px) {
  .howSkillHubIcon .howIcon {
    font-size: 45px;
  }

  .howSkillAbout {
    font-size: 17px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media (min-width: 1200px) {
  .jumbo-catchphase {
    width: 40%;
  }

  .howSkillHubIcon .howIcon {
    font-size: 55px;
  }

  .howSkillAbout {
    width: 100%;
  }
}

