.mentor-courses-container {
  
  color: #41444b
}

.item-span {
  font-weight: bold;
  font-size: 16px;
  color: #41444b
}

.mentor-course-description {
  color: #41444b
}

.mentor-course-header {
  font-size: 25px !important;
  margin-bottom: 10px !important;
}

.mentor-btns {
  display: flex;
  float: right;
}

.mentor-btns button {
  margin-right: 20px !important;
}