
.ui.inverted.dimmer {
  background-color: rgba(0,0,0,.4);
}

.ui.dimmer {
  /* background-color: rgba(0,0,0,.5) !important; */
}

.hidden-id {
  display: none;
}

.message-container {
  padding-left: 10%;
  padding-top: 5%;
  height: 100%;
}

.inner-message-container {
  width: 65%;
  margin-top: 3%;
}

.message-content {
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 20px;
  color: #41444b;
}

.sender-name {
  font-size: 17px;
  color: #41444b;
  font-weight: bold;
}

.message-date {
  margin-top: 10px;
  color: grey;
}

.message-buttons {
  margin-top: 10px !important;
}

.message-buttons button {
  margin-left: 20px !important;
}

.no-messages {
  color: rgb(97, 95, 95)
}