

.navbar {
  border: none !important;
  padding-left: 5%;
  padding-right: 5%;
  /* margin-top: 1% !important; */
}

.main-logo {
  color: #00b5ad !important;
  font-family: 'Fredoka One';
  font-size: 1.25em !important;
}

.login-btn {
  color: white !important;
  background-color: #00b5ad !important;
 
}