

.user-container {
  padding-top: 5%;
}

.user-sidebar {
  border: solid;
  margin-left: auto;
  margin-right: auto;
 
}

.user-image-photo {
  
}

.user-about-me {
  border: solid;
  margin-left: auto;
  margin-right: auto;
}